.container {
    border-style:none;
    position:absolute;
    border-width: 1px;
}

#title {
    font-family: sans-serif;
    left: 40px;
}

#map {
    top:100px;
    left:10px;
    width:700px;
    height:650px;
}

#aqplot {
    top:100px;
    left:720px;
    width:700px;
    height:650px;
    border-right: solid;
    border-width: 1px;
}

#heatmap {
    top:50px;
    left:1440px;
    width:400px;
    height:650px;
}

#pollplot {
    top:50px;
    left:1440px;
    width:400px;
    height:650px;
}

#firefreq {
    top:780px;
    left:10px;
    width:1410px;
    height:150px;
    border-right: solid;
    border-width: 1px;
}

#summary {
    top:750px;
    left:1440px;
    width:400px;
    height:200px;
}

.line {
    stroke: steelblue;
    fill: none;
}

.line.PM10 {
    stroke: black;
    fill:none
}


.line.PM25 {
    stroke: red;
    fill:none
}

#firefreq_tooltip {
    position: absolute;
    width: auto;
    height: auto;
    border: 1px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity: 0.7;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

#map_tooltip {
    position: absolute;
    width: auto;
    height: auto;
    border: 1px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity: 0.8;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

#map_tooltip p, #firefreq_tooltip p, #aq_tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 20px;
}

#map_tooltip.hidden, #firefreq_tooltip.hidden, #aq_tooltip.hidden {
    display: none;
}

.leaflet-top-pane {
    pointer-events: none;
}

.legend {
    vertical-align: bottom;
    font-family: sans-serif;
    font-size: 13px;
}

.plotTitle {
    vertical-align: bottom;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.plotSubtitle {
    vertical-align: bottom;
    font-family: sans-serif;
    font-size: 13px;
    font-style: italic;
    color: grey;
}

p {
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.hidden.text {
    display:none;
}

.text {
    position: absolute;
    width: 400px;
    height: auto;
    border: none;
    background-color: white;
    pointer-events: none;
    opacity: 1;
    border-style: none;
    border-radius: 10px;
    padding-left: 10px;
}

.text {
 animation-name: appear;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: 1;
}

@keyframes appear {  
 0% { opacity: 0.0; }
 25% { opacity: 0.25; }
 50% { opacity: 0.5; }
 75% { opacity: 0.75; }
 100% { opacity: 1; }
}