.container {
    border-style:dashed;
    position:absolute;
    border-width: 1px;
}

#map {
    top:50px;
    left:10px;
    width:700px;
    height:650px;
}

#aqplot {
    top:50px;
    left:720px;
    width:700px;
    height:650px;
}

#heatmap {
    top:50px;
    left:1440px;
    width:400px;
    height:650px;
}

#pollplot {
    top:50px;
    left:1440px;
    width:400px;
    height:650px;
}

#firefreq {
    top:750px;
    left:10px;
    width:1410px;
    height:150px;
}

#summary {
    top:750px;
    left:1440px;
    width:400px;
    height:200px;
}

.line {
    stroke: steelblue;
    fill: none;
}

.line.PM10 {
    stroke: black;
    fill:none
}


.line.PM25 {
    stroke: red;
    fill:none
}

#map_tooltip, #firefreq_tooltip, #aq_tooltip {
    position: absolute;
    width: auto;
    height: auto;
    border: 1px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity: 0.9;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

#map_tooltip p, #firefreq_tooltip p, #aq_tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 20px;
}

#map_tooltip.hidden, #firefreq_tooltip.hidden, #aq_tooltip.hidden {
    display: none;
}

.leaflet-top-pane {
    pointer-events: none;
}